/* line 6, ../scss/io2013.scss */
* {
  line-height: 1.3;
}

/* line 10, ../scss/io2013.scss */
h2 {
  font-weight: bold;
}

/* line 13, ../scss/io2013.scss */
h2, h3 {
  color: #515151;
}

/* line 17, ../scss/io2013.scss */
q, blockquote {
  font-weight: bold;
}

/* line 21, ../scss/io2013.scss */
slides > slide {
  color: #515151;
}
/* line 28, ../scss/io2013.scss */
slides > slide:not(.nobackground):before {
  background: none;
  background-color: #e6e6e6;
  height: 90px;
  left: 0;
  width: 100%;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 37, ../scss/io2013.scss */
slides > slide:not(.nobackground):after {
  background: url(../../images/google_developers_icon_128.png) no-repeat 0 0;
  -webkit-background-size: 30px;
  -moz-background-size: 30px;
  -o-background-size: 30px;
  background-size: 30px;
  background-position: 60px 50%;
  left: 0;
  bottom: 90px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  padding-right: 60px;
}
/* line 51, ../scss/io2013.scss */
slides > slide.title-slide:after {
  content: '';
  background: url(../../images/io2013/google-io-lockup-1.png) no-repeat 100% 50%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  position: absolute;
  bottom: 80px;
  right: 40px;
  width: 100%;
  height: 90px;
}
/* line 63, ../scss/io2013.scss */
slides > slide.title-slide hgroup h1 {
  font-weight: bold;
  line-height: 1.1;
}
/* line 67, ../scss/io2013.scss */
slides > slide.title-slide hgroup h2, slides > slide.title-slide hgroup p {
  color: #515151;
}
/* line 70, ../scss/io2013.scss */
slides > slide.title-slide hgroup h2 {
  margin-top: 0.25em;
}
/* line 73, ../scss/io2013.scss */
slides > slide.title-slide hgroup p {
  margin-top: 3em;
}
/* line 79, ../scss/io2013.scss */
slides > slide .source {
  bottom: 130px;
}
/* line 83, ../scss/io2013.scss */
slides > slide > article:only-child {
  height: 88%;
}
/* line 87, ../scss/io2013.scss */
slides > slide > article:only-child > iframe {
  height: 100%;
}
